@delaunay-ui:registry=https://pkgs.dev.azure.com/Edenred-TicketBenefits/Ticket/_packaging/delaunay-ui/npm/registry/
@customer-portal:registry=https://pkgs.dev.azure.com/Edenred-TicketBenefits/Ticket/_packaging/customer-portal/npm/registry/ 

always-auth=true